/*Common elements*/
body {
    font: size 67.5%;
    font-family: Tahoma, Geneva, sans-serif;
    background: #39150C url(img/logo.png) no-repeat fixed top center;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
h1 {
    color: #2BA967;
    font-size:2.0em;
    margin:0.5em 0 0.5em 0;
    padding: 0;
}
h2 {
    color: #745b2f;
    font-size: 1.7em;
    padding: 0px;
    margin: 0.5em 0 0.35em 0;
}
p {
    font-size: 1.2 em;
    line-height: 1.4em;
    color:#555;
    padding: 0px;
    margin: 0px 0.5em 0px;
}
/*Header*/
/*Nav Bars*/
/*Sidebar Section*/
section#sidebar {
    width: 238px;
    float: left;
    position: relative;
    display: block;
    background-color: #ffff;
    margin: 1.5em 0 3.0em 1.5em;
    padding: 1.7em 0.5em 2.0em 1.7em;
    border-right:#2BA967 solid 5px;
}
/*Main Section*/
#main{
/*background-color: #FCFBE6;*/
background-color: rgba(252,251,243,0.7)
margin: 0 0 2.0em 1.5;
display: inline-block;
border-radius: 2em;
box-shadow: 1px 1px 5px #777;/* offset-x | offset-y | blur-radius | color */
}
section div.panel{
    float: right;
    position: relative;
    width: 250px;
    margin: 0 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color: #ffff;
    border: #ccc solid 1px;
    border-radius: 0.6em;
}
/*Footer*/
